/*Code poour ChineseFarmer.html*/
header{
    background-color: yellow;
    text-align: center;
}
q{
    color: #303030;
    background-color: lightgray;
    font-size: 160%;
    border-left: 3px solid firebrick;
    margin: 80px;
    padding-left: 30px; 
    font-style: italic;
}
blockquote{
    background: -webkit-linear-gradient(-34deg, rgb(194, 205, 215), rgb(126, 95, 174));
    background: linear-gradient(-34deg, rgb(194, 205, 215), rgb(126, 95, 174));
    font-size: 160%;
    color: #303030;
}
body {
    background-color: transparent;
   background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148806276.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: bottom,right;
    background-size: cover;
     width: 90%;
    padding: 5px;
    margin: auto;
}
h1 {
    font-family: 'Anton', sans-serif;
}
h2{
    font-family: 'Rubik', sans-serif;
    padding-bottom: 80px;
}
nav {
    font-family: 'Anton',sans-serif;
}
p {
	font-size: 15px;
	font-family: serif;
	color: #171717;
    word-spacing: 120%;
    letter-spacing: normal;
    font-size: large;
}
table,
td {
    border: 1px solid #333;
    border-collapse: collapse;
    text-align: center;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
    padding: :0;
}
footer{
    padding: 1em;
}
.preshow{
    font-size: larger;
}
a:hover{
background-color: goldenrod;    
}
a:visited{
color: darkmagenta;    
}
.good{
    color: green;
    text-transform: capitalize;
}
.bad{
    color:red;
    text-transform: capitalize;
}
.ppllist>li{
    padding-top: 15px;
    padding-bottom: 15px;
}
.ppllist li:first-child{
    background-repeat: no-repeat;
    background-image: url('https://raw.githubusercontent.com/becodeorg/Swartz-6/main/1.The-Field/8.Html-CSS/progressive-enhancement/bien.png?token=GHSAT0AAAAAABT6XYMECY7K7A34FJX65Y3CYTSN5BA');
    padding-right: 600px;
    background-position: center;
    background-origin: content-box;
}
.ppllist li:nth-child(2) {
    background-image: url('https://raw.githubusercontent.com/becodeorg/Swartz-6/main/1.The-Field/8.Html-CSS/progressive-enhancement/mal.png?token=GHSAT0AAAAAABT6XYME73P44V54ALLEDZVUYTSOZEA');
    background-repeat: no-repeat;
     padding-right: 600px;
    background-position: center;
    background-origin: content-box;
}
.ppllist li:nth-child(3) {
    background-image: url('https://raw.githubusercontent.com/becodeorg/Swartz-6/main/1.The-Field/8.Html-CSS/progressive-enhancement/chat.png?token=GHSAT0AAAAAABT6XYMFSZ246MUNYM5ND4W2YTSOIHQ');
    background-repeat: no-repeat;
     padding-right: 600px;
    background-position: center;
    background-origin: content-box;
}