/*Code poour ChineseFarmer.html*/
/* p & a */
p {
    color: #171717;
    font-family: serif;
    font-size: 100%;
    word-spacing: 120%;
}
a {
    color: #000;
    font-style: italic;
}
a:visited {
    color: darkmagenta;
}
a:hover {
    background-color: aqua;
}
/*  header & body */
header > h1 {
    background: -webkit-linear-gradient(-17deg, rgb(22, 135, 237), rgb(100, 8, 133));
    background: linear-gradient(-17deg, rgb(22, 135, 237), rgb(100, 8, 133));
}
body {
    /*  background: -webkit-linear-gradient(-17deg, rgb(22, 135, 237), rgb(100, 8, 133));
    background: linear-gradient(-17deg, rgb(22, 135, 237), rgb(100, 8, 133));  */
    background-image: url('https://www.freevector.com/uploads/vector/preview/30949/Pastel_Fluid_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    margin: 0% 0.5%;
    max-width: 90%;
}
body p:first-of-type{
    font-weight: bold;
}
/* quotes & blockquote */
blockquote {
    background-color: #ccc;    
    border-left: 3px solid firebrick;
    font-size: 160%;
    font-weight: bold;
    margin: 80px 25%;
    padding-left: 30px;
    width: 50%;
}

q {
    display: inline-block;
    width: 100%;
    margin: 10px 5%;    
    border-left: 3px solid;
    padding-left: 30px;
}
/*  classes  */

/*  Vi & Fa quotes  */
.ViTxt, .FaTxt, blockquote, q{
    font-style: italic;
}
.ViTxt{
    border-left-color: crimson;
}
.FaTxt{
    border-left-color: chartreuse;
}
/* good or bad */
.good, .bad{
    text-transform: uppercase;
}
.good{
    color: green;
}
.bad {
    color: red;
}
/*  liste  */
.typeofppl>li{
    padding-top: 15px;
    padding-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
}

.typeofppl li:first-child{
    background-image: url("images/bien.png");
    padding-right: 50%;
}

.typeofppl li:nth-child(2){
    background-image: url("images/mal.png");
    padding-right: 50%;
}

.typeofppl li:nth-child(3){
    background-image: url("images/chat.png");
    padding-right: 50%;
}
/*  table  */
tr:nth-of-type(even){
    background-color: grey;
}

tr:nth-of-type(odd){
    background-color: lightgray;
}

.article>img{
    max-width: 300px;
}

.article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; /*  ???  */
}
